a:link {
    color: rgb(101, 201, 101);
    background-color: transparent;
    text-decoration: wavy;
}
a:hover {
    color: pink;
    background-color: transparent;
    text-decoration: dashed;
}

a:visited {
    color: rgb(255, 0, 43);
    background-color: transparent;
    text-decoration: line-through;
  }
  
  a:active {
    color:aqua;
    background-color: transparent;
    text-decoration: dotted;
  }

  p {
    margin:0%;
  }
  .button1 {
    cursor: pointer;
  }